<div class="container">
    <div class="path">
        <a [routerLink]="['/landing']">Главная</a>/
        <a [routerLink]="['/products']">Каталог</a>/
        <a>Категория</a>/
        <a>Подвеска Mikimoto</a>
    </div>
    <div class="product-info">
        <div class="product-photos">
            <img src="../../assets/images/Rectangle 21.png" alt="">
        </div>
        <div class="product-description">
            <div class="wrap">
                <div class="description-title">
                    <h2>Подвеска Mikimoto</h2>
                    <div class="description-info">
                        <p>Категория: Подвески</p>
                        <p>Бренд: Mikimoto</p>
                    </div>
                </div>
                <div class="description-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit mattis scelerisque odio nunc.
                        Ipsum
                        quis facilisis turpis vulputate. Viverra dignissim in nec phasellus. Tincidunt est ipsum diam,
                        vestibulum dignissim dui diam. Et nulla sit convallis orci est, fames sit luctus lacus. Nunc
                        donec
                        malesuada amet eget eget pharetra. Ultricies et, ac varius at amet viverra feugiat non massa.
                        Vel vel in urna, sodales urna ac sed felis. Tellus augue et senectus malesuada faucibus
                        sollicitudin
                        ornare. Sit non et sit enim in ornare velit. Ac imperdiet vitae, orci, nec scelerisque enim sit
                        enim
                        risus.
                        Et nulla sit convallis orci est, fames sit luctus lacus.
                    </p>
                </div>
                <div class="description-price">
                    150000
                </div>
                <div class="description-btns">
                    <button mat-raised-button class="price-btn" color="primary">Купить</button>
                    <button mat-button class="add-btn">добавить в корзину</button>
                </div>
            </div>

        </div>
    </div>

    <div class="main-description">
        <div class="description-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet deleniti consequuntur odit voluptatum
            consequatur, quibusdam, possimus similique ratione ipsa esse blanditiis quisquam debitis tenetur vero est
            quas officiis laudantium ad.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium laboriosam sed a, pariatur iste amet
            eum, eos, soluta consequatur sint saepe ut inventore fugit illum optio est labore. Minus, autem.
            <button mat-button class="read-more">Покажите еще</button>
        </div>
        <div class="description-icons">
            <div class="icon-item">
                <div class="icon">
                    <img src="../../assets/images/delivery.svg" alt="">
                </div>
                <div class="icon-name">
                    Бесплатная
                    доставка
                </div>
            </div>
            <div class="icon-item">
                <div class="icon">
                    <img src="../../assets/images/list.svg" alt="">
                </div>
                <div class="icon-name">
                    Индивидуальный
                    дизайн
                </div>
            </div>
            <div class="icon-item">
                <div class="icon">
                    <img src="../../assets/images/ribbon-design.svg" alt="">
                </div>
                <div class="icon-name">
                    Бесплатная
                    примерка
                </div>
            </div>
            <div class="icon-item">
                <div class="icon">
                    <img src="../../assets/images/jewelry.svg" alt="">
                </div>
                <div class="icon-name">
                    Личный
                    подход
                </div>
            </div>
        </div>
    </div>

    <div class="more-products">
        <div class="more-subtitle">Мы подготовили для вас кое-что еще</div>
        <div class="more-title">Товары, которые могут Вам понравиться</div>
        <div class="product-block">
            <div class="product-items">
                <app-product-page></app-product-page>
                <app-product-page></app-product-page>
                <app-product-page></app-product-page>
            </div>
        </div>
    </div>
</div>