.custom-input {
    max-width: 160px;
}
form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
}
.filters-form {
    margin-top: 100px;
}
.custom-button, .show-more-btn, .form-wrap {
    // display: flex;
    // justify-content: flex-end;
    // ::ng-deep.mat-raised-button.mat-primary.mat-button-disabled {
    //   background-color: rgba(0, 0, 0, 0.12) !important;
    // }
    ::ng-deep {
      .mat-raised-button.mat-primary {
        background-color:  #333333;
        border-radius: 0;
        font-family: Gilroy;
        font-weight: 400;
        
      }
    }
  }

  .product-items {
      display: flex;
      justify-content: space-between;
      padding: 20px;
  }

.item {
    text-align: center;
    max-width: 280px;
    width: 100%;
}
.item-photo {
    margin-bottom: 25px;
}
.item-description {
    margin-bottom: 10px;
    color: #333333;
;
}
.item-name {
    margin-bottom: 15px;
    color: #333333;
    font-size: 24px;
    font-weight: 600;

}
.product-block {
    margin-bottom: 95px;
    .product-items {
        &:first-child {
            padding-bottom: 95px;
            margin-bottom: 95px;
            border-bottom: 1px solid #D6D6D6;
        }
    }
 
}
.price-btn {
    max-width: 124px;
    font-size: 18px;
}
.show-more-btn {
    text-align: center;
    margin-bottom: 150px;
}
.more-btn {
    font-size: 18px;
    font-weight: 500 !important;
    text-transform: uppercase;
    max-width: 227px;
    padding: 15px 35px;
    line-height: initial;
}

.read-more {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    padding: 0;
}
.description-text {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    width: 100%;
}
.main-description {
    display: flex;
    padding: 0px 75px 0px 75px;
    justify-content: space-between;
    margin-bottom: 150px;
}

.description-icons {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    display: grid;
    row-gap: 30px;
    column-gap: 60px;
    max-width: 280px;
    width: 100%;
}

.mail-block {
    background-image: url(../../assets/images/Rectangle.png);
    color: #ffffff;
    
}

.mail-container {
    max-width: 770px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 120px;
}
.mail-form-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        li {
            margin-bottom: 15px;
            display: flex;
            img {
                margin-right: 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.mail-title {
    font-size: 21px;
    text-align: center;
    margin-bottom: 15px;
}

.mail-subtitle {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 60px;
    text-align: center;
}
.form-wrap {
    background-color: #ffff;
    padding: 20px 22px;
    align-items: center;
    display: flex;
}

.mail-form {
    border: 1px solid #fff;
    padding: 14px 15px;
    input {
        height: 45px;
        max-width: 200px;
        width: 100%;
        margin-right: 15px;
    }
}

.mail-btn {
    padding: 14.5px 35px;
    line-height: initial;
} 