<div class="container">
    <div class="filters-form">
        <form [formGroup]="form">

            <mat-form-field class="custom-input">
                <mat-label>Бренд</mat-label>
                <mat-select>
                    <mat-option value="">Harry Winston</mat-option>
                    <mat-option value="">Tiffany</mat-option>
                    <mat-option value="">Buccellati</mat-option>
                    <mat-option value="">Cartier</mat-option>
                    <mat-option value="">Bvlgari</mat-option>
                    <mat-option value="">Mikimoto</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="custom-input">
                <mat-label>Цена</mat-label>
                <mat-select>
                    <mat-option value="">до 5000</mat-option>
                    <mat-option value="">до 10000</mat-option>
                    <mat-option value="">до 25000</mat-option>
                    <mat-option value="">до 50000</mat-option>
                    <mat-option value="">до 100000</mat-option>
                    <mat-option value=""> >100000</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="custom-input">
                <mat-label>Для кого</mat-label>
                <mat-select>
                    <mat-option value="">Для женщин</mat-option>
                    <mat-option value="">Для мужчин</mat-option>
                    <mat-option value="">Для детей</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="custom-input">
                <mat-label>Коллекция</mat-label>
                <mat-select>
                    <mat-option value="">Новая</mat-option>
                    <mat-option value="">Прошлогодняя</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="custom-input">
                <mat-label>Сезон</mat-label>
                <mat-select>
                    <mat-option value="">Зима</mat-option>
                    <mat-option value="">Весна</mat-option>
                    <mat-option value="">Лето</mat-option>
                    <mat-option value="">Осень</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="custom-input">
                <mat-label>Событие</mat-label>
                <mat-select>
                    <mat-option value="">Свадьба</mat-option>
                    <mat-option value="">Подарок</mat-option>
                </mat-select>
            </mat-form-field>

        </form>
    </div>

</div>