.custom-input {
    max-width: 160px;
}
form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
    flex-wrap: wrap;
    @media (max-width: 850px) {
        justify-content: space-evenly;
    }
}

.hide {
    height: 190px;
    overflow: hidden;
}

.hide-text {
    opacity: 0.1;
}

.show-all {
    font-size: 18px;
    color: #333;
    font-weight: 500;
    border-bottom: 1px dashed #333 !important;
    background-color: transparent;
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 30px;
}



.filters-form {
    margin-top: 100px;
}


  .product-items {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      flex-wrap: wrap;
      @media (max-width: 660px) {
        justify-content: space-evenly;
      }
  }

.item {
    text-align: center;
    max-width: 280px;
    width: 100%;
    @media(max-width: 940px) {
          margin-bottom: 15px;
    }
}
.item-photo {
    margin-bottom: 25px;
}
.item-description {
    margin-bottom: 10px;
    color: #333333;
;
}
.item-name {
    margin-bottom: 15px;
    color: #333333;
    font-size: 24px;
    font-weight: 600;

}
.product-block {
    margin-bottom: 95px;
    .product-items {
        &:first-child {
            padding-bottom: 95px;
            margin-bottom: 95px;
            border-bottom: 1px solid #D6D6D6;
        }
    }
 
}



.read-more {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    padding: 0;
}
.description-text {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    width: 100%;
    line-height: 150%;
    margin-right: 20px;
    @media(max-width: 840px) {
        margin-right: 0px;
        button {
        text-align: center;
            
        }
        margin-bottom: 30px;
    }
   
}
.main-description {
    display: flex;
    padding: 0px 75px 0px 75px;
    justify-content: space-between;
    margin-bottom: 150px;
    @media (max-width: 840px) {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    @media(max-width: 630px) {
        padding: 0;
    }
}

.description-icons {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    display: grid;
    row-gap: 30px;
    column-gap: 60px;
    max-width: 280px;
    width: 100%;
}







