<div class="container">
    <div class="path">
        <a>Главная</a>/
        <a>Каталог</a>
    </div>

    <div class="main-title">
        <h2>Контакты</h2>
    </div>

    <div class="contacts-items">
        <div class="item">
            <div class="item-title">Главный офис</div>
            <div class="address info">
                <mat-icon matPrefix class="per-icon icon">location_on</mat-icon>
                <p>Невский 140, офис 1-5</p>
            </div>
        </div>
        <div class="item">
            <div class="item-title">Телефоны</div>
            <div class="phones info">
                <mat-icon matPrefix class="per-icon icon">call</mat-icon>
                <p>8 (812) 458-56-45</p>
            </div>
        </div>
        <div class="item">
            <div class="item-title">E-mail</div>
            <div class="mail info">
                <mat-icon matPrefix class="per-icon icon">mail</mat-icon>
                <p>office@ojjo.com</p>
            </div>
        </div>
        <div class="item">
            <div class="item-title">Доп. адреса</div>
            <div class="address info">
                <mat-icon matPrefix class="per-icon icon">location_on</mat-icon>
                <p>Загородный 145, офис 11-15</p>
            </div>
        </div>
    </div>
</div>