<div class="container">
    <div class="path">
        <a>Главная</a>/
        <a>Контакты</a>
    </div>

    <div class="main-title">
        <h2>Контакты</h2>
    </div>

    <div class="contacts-items">
        <div class="item">
            <div class="item-title">Главный офис</div>
            <div class="address info">
                <mat-icon matPrefix class="per-icon icon">location_on</mat-icon>
                <p>Невский 140, офис 1-5</p>
            </div>
        </div>
        <div class="item">
            <div class="item-title">Телефоны</div>
            <div class="phones info">
                <mat-icon matPrefix class="per-icon icon">call</mat-icon>
                <p>8 (812) 458-56-45</p>
            </div>
        </div>
        <div class="item">
            <div class="item-title">E-mail</div>
            <div class="mail info">
                <mat-icon matPrefix class="per-icon icon">mail</mat-icon>
                <p>office@ojjo.com</p>
            </div>
        </div>
        <div class="item">
            <div class="item-title">Доп. адреса</div>
            <div class="address info">
                <mat-icon matPrefix class="per-icon icon">location_on</mat-icon>
                <p>Загородный 145, офис 11-15</p>
            </div>
        </div>
    </div>
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d211555.9727277764!2d-118.244928!3d34.055103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c64d9fbb11d3%3A0xb3728c2c3bff31b0!2z0JrQvtC90YbQtdGA0YLQvdGL0Lkg0LfQsNC7INC40LzQtdC90Lgg0KPQvtC70YLQsCDQlNC40YHQvdC10Y8!5e0!3m2!1sru!2sua!4v1607525053885!5m2!1sru!2sua"></iframe>
    </div>
</div>