.custom-button, .show-more-btn, .form-wrap, .description-btns {
    // display: flex;
    // justify-content: flex-end;
    // ::ng-deep.mat-raised-button.mat-primary.mat-button-disabled {
    //   background-color: rgba(0, 0, 0, 0.12) !important;
    // }
   
      .mat-raised-button.mat-primary {
        background-color:  #333333;
        border-radius: 0;
        font-family: Gilroy;
        font-weight: 400;
        
      }
    
  }

  .price-btn {
    max-width: 124px;
    font-size: 18px;
}

.show-more-btn {
  text-align: center;
  margin-bottom: 150px;
}
.more-btn {
  font-size: 18px;
  font-weight: 500 !important;
  text-transform: uppercase;
  max-width: 227px;
  padding: 15px 35px;
  line-height: initial;
}