<div class="container">
    <div class="header">
        <div class="main-tabs">
            <ul>
                <li><a href="#">Контрагентам</a></li>
                <li><a href="#">Дизайнерам</a></li>
                <li><a href="#">Вакансии</a></li>
            </ul>
        </div>
    
        <div class="main-logo">
            <a href="#"><img src="/assets/images/ojjo-main-logosvg.svg" alt=""></a>
        </div>
    
        <div class="info-tabs">
            <ul>
                <li><a href=""><img src="/assets/images/search.svg" alt=""></a></li>
                <li><a href="">Поиск</a></li>
                <li><a href="">Вход</a></li>
                <li><a href="">Регистрация</a></li>
                <li><a href=""><img src="/assets/images/account.svg" alt=""></a></li>
                <li><a href=""><img src="/assets/images/like.svg" alt=""></a></li>
            </ul>
    
        </div>
    </div>
    
</div>