<div class="main-bg-wrapper">
    <div class="container">
        <div class="main-text">
            <h2>Долго, дорого, богато!</h2>
            <button type="submit" [routerLink]="['/products']">каталог изделий </button>
        </div>
        <div class="companies">
            <div class="company">
                <img src="/assets/images/company.svg" alt="">
            </div>
            <div class="company">
                <img src="/assets/images/company.svg" alt="">
            </div>
            <div class="company">
                <img src="/assets/images/company.svg" alt="">
            </div>
            <div class="company">
                <img src="/assets/images/company.svg" alt="">
            </div>
            <div class="company">
                <img src="/assets/images/company.svg" alt="">
            </div>
            <div class="company">
                <img src="/assets/images/company.svg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="catalog">
    <div class="container">
        <p class="second-title">К мероприятиям</p>
        <h3 class="first-title">Настоящая красота здесь!</h3>
        <mat-tab-group>
            <mat-tab label="Свадьба">
                <div class="main-catalog">
                    <div class="product">
                        <a href="">Кольца</a>
                    </div>
                    <div class="product">
                        <a href="">серьги</a>
                    </div>
                    <div class="product">
                        <a href="">подвески</a>
                    </div>
                    <div class="product">
                        <a href="">запонки</a>
                    </div>
                    <div class="product">
                        <a href="">браслеты</a>
                    </div>
                    <div class="product">
                        <a href="">часы</a>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="МУЖУ">
                <div class="main-catalog">
                    <div class="product">
                        <a href="">Кольца</a>
                    </div>
                    <div class="product">
                        <a href="">подвески infinity</a>
                    </div>
                    <div class="product">
                        <a href="">запонки swarovski</a>
                    </div>
                    <div class="product">
                        <a href="">часы rolex</a>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="жене">
                <div class="main-catalog">
                    <div class="product">
                        <a href="">Кольца Swarovski</a>
                    </div>
                    <div class="product">
                        <a href="">серьги</a>
                    </div>
                    <div class="product">
                        <a href="">подвески Zodiac</a>
                    </div>
                    <div class="product">
                        <a href="">браслеты pandora</a>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="партнеру">
                <div class="main-catalog">
                    <div class="product">
                        <a href="">Кольца</a>
                    </div>
                    <div class="product">
                        <a href="">подвески</a>
                    </div>
                    <div class="product">
                        <a href="">запонки</a>
                    </div>
                    <div class="product">
                        <a href="">часы</a>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="коллекции">
                <div class="main-catalog">
                    <div class="product">
                        <a href="">Jewellerry Sova</a>
                    </div>
                    <div class="product">
                        <a href="">Swarovski</a>
                    </div>
                    <div class="product">
                        <a href="">Bloom</a>
                    </div>
                    <div class="product">
                        <a href="">Infinity</a>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="редкость">
                <div class="main-catalog">
                    <div class="product">
                        <a href="">Кольца Villary</a>
                    </div>
                    <div class="product">
                        <a href="">Lanvin</a>
                    </div>
                    <div class="product">
                        <a href="">Swarovski ZODIAC</a>
                    </div>
                    <div class="product">
                        <a href="">SYMBOLIC</a>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>

<div class="salon-wrapper">
    <div class="container">
        <div class="salon-info">
            <span>Не знаете, что выбрать?</span>
            <h3>Посетите наши салоны в Харькове</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut duis tortor vitae pellentesque egestas quam
                pulvinar. Pellentesque porttitor velit sit pellentesque. Suspendisse donec pretium id dignissim.
                Dignissim ultrices eget orci viverra. Egestas quis et ut ultrices imperdiet lectus nulla tempus.
                Pharetra lorem sem purus nisi libero viverra ipsum.</p>
            <button [routerLink]="['/contacts']">наши салоны</button>
        </div>
    </div>
</div>

<div class="product-tutorial">
    <div class="container">
        <p class="second-title">Полезные статьи</p>
        <h3 class="first-title">Лучшие советы по подбору дорогих подарков</h3>
        <div class="tutorial-group">
            <div class="tutorial">
                <a href="">Как выбрать часы для своей будущей жены</a>
            </div>
            <div class="tutorial">
                <a href="">Запонки для мужа: 7 ключевых правил покупки аксессуара</a>
            </div>
            <div class="tutorial">
                <a href="">Как выбрать обручальные кольца молодоженам</a>
            </div>
        </div>
        <button>читать наш блог</button>
    </div>
</div>

<div class="social-grid">
    <div class="container">
        <div class="social-link">
            <a href="">#ojjo_jewerly</a>
        </div>
        <h3 class="first-title">Мы в социальных сетях</h3>
        <div class="grid-image-group">
            <div class="grid-row-one">
                <div class="big-image">
                    <img src="/assets/images/grid1.png" alt="">
                </div>
                <div class="small-images">
                    <img src="/assets/images/grid4.png" alt="">
                    <img src="/assets/images/grid5.png" alt="">
                </div>
            </div>

            <div class="grid-row-two">
                <div class="small-images">
                    <img src="/assets/images/grid2.png" alt="">
                    <img src="/assets/images/grid3.png" alt="">
                </div>
                <div class="big-image">
                    <img src="/assets/images/grid6.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>