<div class="header-wrapper">
    <div class="container">
        <div class="header">
            <div class="main-tabs">
                <ul>
                    <li><a href="#">Контрагентам</a></li>
                    <li><a href="#">Дизайнерам</a></li>
                    <li><a href="#">Вакансии</a></li>
                </ul>
            </div>

            <div class="main-logo">
                <a href="#"><img src="/assets/images/ojjo-main-logosvg.svg" alt=""></a>
                <mat-toolbar-row class="mobile-btn">
                    <span class="example-spacer"></span>
                    <button mat-icon-button class="example-icon" (click)="toggle()"
                        aria-label="Example icon-button with menu icon">
                        <span class="material-icons mobile-icon">
                            format_align_left
                        </span>

                        <span class="material-icons clear-icon">
                            clear
                        </span>
                    </button>
                    <!-- <input type="checkbox" [(ngModel)]="show" /> -->
                </mat-toolbar-row>
            </div>
            <div class="mobile-menu" [ngClass]="{invisible: show}">
                <mat-toolbar>
                    <mat-toolbar-row>
                        <p><a href="#">Контрагентам</a></p>
                        <p><a href="#">Дизайнерам</a></p>
                        <p><a href="#">Вакансии</a></p>
                        <p><a href="#">Вход/Регистрация</a></p>
                        <span class="example-spacer"></span>
                        <div class="cabinet-info">
                            <a href="#"><img src="/assets/images/account.svg" alt=""></a>
                            <a href="#"><img src="/assets/images/like.svg" alt=""></a>
                        </div>
                        <div class="social-group">
                            <a href="#"><img src="/assets/images/social1.svg" alt=""></a>
                            <a href="#"><img src="/assets/images/social2.svg" alt=""></a>
                            <a href="#"><img src="/assets/images/social3.svg" alt=""></a>
                            <a href="#"><img src="/assets/images/social4.svg" alt=""></a>
                            <a href="#"><img src="/assets/images/social5.svg" alt=""></a>
                        </div>
                    </mat-toolbar-row>
                </mat-toolbar>
            </div>


            <div class="info-tabs">
                <ul>
                    <li><a href=""><img src="/assets/images/search.svg" alt=""></a></li>
                    <li><a href="">Поиск</a></li>
                    <li><a href="">Вход</a></li>
                    <li><a href="">Регистрация</a></li>
                    <li><a href=""><img src="/assets/images/account.svg" alt=""></a></li>
                    <li><a href=""><img src="/assets/images/like.svg" alt=""></a></li>
                </ul>

            </div>
        </div>

    </div>
</div>

<div class="rout">
    <router-outlet></router-outlet>
</div>

<div class="mail-block">
    <div class="mail-container">


        <div class="mail-title">
            Полезные советы и персональный предложения
        </div>
        <div class="mail-subtitle">
            Эксклюзивная рассылка
        </div>
        <div class="mail-form-block">
            <div class="mail-description">
                <ul>
                    <li><img src="../../assets/images/subscribe__icon.svg" alt=""> Личный менеджер</li>
                    <li><img src="../../assets/images/subscribe__icon.svg" alt=""> Доставка и оформление</li>
                    <li><img src="../../assets/images/subscribe__icon.svg" alt=""> Индивидуальный дизайн</li>
                </ul>
            </div>
            <div class="mail-form">
                <div class="form-wrap">
                    <input type="text" placeholder="Email...">
                    <button mat-raised-button class="mail-btn" color="primary">Отправить</button>
                </div>
            </div>
        </div>
    </div>
</div>