.header-wrapper {
    padding: 27px 0 30px 0;
    background-color: #333333;
}
.invisible {
    display:none;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media(min-width:992px) {
        justify-content: space-between;
        flex-direction: row;
    }
    .main-logo {
        display: flex;
        .mat-toolbar-row {
            @media(min-width:992px) {
                display: none;
            }
        }
        .mobile-icon {
            color: #fff;
        }
        .clear-icon {
            color: #fff;
        }

    }
    .mobile-menu {
        width: 100%;
        margin-top: 10px;
        @media(min-width:992px) {
            display: none;
        }
        .mat-toolbar-row {
            flex-direction: column;
            background-color: #333333;
            height: 100%;
            align-items: flex-start;
            p {
                a {
                    text-decoration: none;
                    font-size: 14px;
                    color: #FFFFFF;
                }
            }
            .cabinet-info {
                display: flex;
                align-items: center;
                border-top: 1px solid #fff;
                padding-top: 35px;
                margin-top: 35px;
                width: 100%;
                a {
                    img {
                        width: 50px;
                        height: 32px;
                        display: block;
                        object-fit: contain;
                    }
                }
            }
            .social-group {
                display: flex;
                align-items: center;
                border-top: 1px solid #fff;
                padding-top: 35px;
                margin-top: 35px;
                width: 100%;
                a {
                    img {
                        width: 50px;
                        height: 30px;
                        display: block;
                        object-fit: scale-down;
                    }
                }
            }
        }
    }
    .main-tabs {
        display: none;
        @media(min-width:992px) {
            display: block;
        }
        ul {
            display: flex;
            align-items: center;
            li {
                list-style: none;
                &:not(:last-child) {
                    margin-right: 40px;
                }
                a {
                    text-decoration: none;
                    font-size: 14px;
                    color: #FFFFFF;
                }
            }
        }
    }
    .info-tabs {
        display: none;
        @media(min-width:992px) {
            display: block;
        }
        ul {
            display: flex;
            align-items: center;
            li {
                list-style: none;
                &:not(:last-child) {
                    margin-right: 40px;
                }
                a {
                    text-decoration: none;
                    font-size: 14px;
                    color: #FFFFFF;
                }
            }
        }
    }
}